@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.otherGoodsWrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include breakpoints.tablet {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @include breakpoints.mobile {
    padding-top: 60px;
    padding-bottom: 60px;
    row-gap: 20px;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      gap: 20px;

      h2 {
        @include fontsStyles.DisplayLG;
        @include fontsFamilies.FontFamilyInterBold;

        @include breakpoints.tablet {
          @include fontsStyles.DisplayMD;
        }

        @include breakpoints.mobile {
          @include fontsStyles.TextLG;
        }
      }

      .icon {
        width: 40px;
        height: 40px;

        @include breakpoints.tablet {
          width: 36px;
          height: 36px;
        }
      }
      //@include breakpoints.mobile {
      //  @include fontsStyles.TextLG;
      //}
    }

    .button {

      @include breakpoints.tablet {
        display: none;
      }
    }
  }

  .otherGoodsSwiper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include breakpoints.desktop_small {
      grid-template-columns: repeat(3, 1fr);
      .wrapper:nth-of-type(n+4) {
        display: none;
      }
    }
    @include breakpoints.tablet {
      gap: 20px;
    }
    @include breakpoints.tablet_small {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .wrapper:nth-of-type(n+3) {
        display: none;
      }
    }

    .wrapper {
      padding: 16px;
      display: flex;
      //flex-direction: column;
      //align-content: space-between;
      border-radius: 4px;
      gap: 10px;
      background-color: colors.$white;
      width: 100%;
      min-height: 100px;

      .image {
        width: 100%;

        @include breakpoints.mobile_middle {
          height: 110px;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        height: 100%;
        align-content: space-between;
        flex-wrap: wrap;
        justify-content: space-between;

        .title {
          overflow: hidden;
          display: -webkit-box;
          //height: 65px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          transition: all 0.2s ease;

          @include fontsStyles.TextMD;
          color: colors.$black;
          @include breakpoints.mobile {
            @include fontsStyles.TextXS;
            @include fontsFamilies.FontFamilyInterRegular;
          }
          @include breakpoints.mobile_middle {
            @include fontsStyles.Text2XS;

          }
        }

        .cost {
          @include fontsFamilies.FontFamilyInterBold;
          @include fontsStyles.TextLG;
          color: colors.$black;
          @include breakpoints.mobile {
            @include fontsStyles.TextXS;
          }
        }

        //.delivery {
        //  @include fontsStyles.TextXS;
        //  color: colors.$gray;
        //}
      }

      //@include breakpoints.desktop_small {
      //  .wrapper:nth-of-type(n+3) {
      //    display: none!important;
      //  }
      //}
      //@include breakpoints.tablet {
      //  gap: 20px;
      //}
      //@include breakpoints.tablet_small {
      //  grid-template-columns: repeat(2, 1fr);
      //  gap: 10px;
      //}
    }


  }
}
