@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
	padding-top: 2.5em; //40px

	display: flex;
	gap: 10em; // 160px

	@include breakpoints.desktop_base {
		gap: 1.875em; //30px
	}
	@include breakpoints.tablet {
		flex-direction: column;
	}
	.image {
		@include breakpoints.desktop_small {
			width: 340px;
			height: 340px;
		}
		@include breakpoints.tablet {
			width: 100%;
			height: 100%;
		}
	}

	.contentWrapper {
		display: flex;
		flex-direction: column;
		gap: 1.875em; //30px

		.title {
			@include fontsStyles.DisplayMD;

			@include breakpoints.mobile {
				@include fontsStyles.TextLG;
			}
		}

		.price {
			@include fontsStyles.DisplayLG;
			@include fontsFamilies.FontFamilyInterBold;

			@include breakpoints.desktop_base {
				@include fontsStyles.DisplayMD;
			}
			@include breakpoints.tablet {
				@include fontsStyles.DisplayLG;
			}
			@include breakpoints.mobile {
				@include fontsStyles.DisplayMD;
			}
		}

		.extraInfoWrapper {
			display: flex;
			flex-direction: column;
			gap: 0.625em; //10px

			.rate {
				display: flex;
				align-items: center;
				gap: 0.3125em; //5px

				&::after {
					content: url('@assets/icons/star-enabled.svg');
				}
			}
		}

		.actionsWrapper {
			display: flex;
			gap: 1.25em; //20px

			@include breakpoints.mobile {
				gap: 0.625em;
			}

			.favouritesAction {
				display: flex;
				align-items: center;
				justify-content: center;

				gap: 0.625em; //10px

				&::before,
				&::after {
					content: url('@assets/icons/heart.svg');
					line-height: 0;
				}

				@include breakpoints.tablet {
					&::after {
						display: none;
					}
				}

				@include breakpoints.mobile {
					width: initial;
					min-width: initial;
					padding: 0.5652em; //9px

					& span {
						display: none;
					}
				}
			}
		}
		.availableAmount {
			background-color: colors.$dark;
			border-radius: 0.25em; //4px
			padding: 0.5em 0 0.5em 1.875em; //8px 0 8px 30px
			width: 74%;

			@include breakpoints.mobile {
				@include fontsStyles.TextXS;
			}
		}
	}
}
