@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/vars/colors';


.aboutCompanyWrapper {
  //padding-top: 10em; //160px
  padding: 80px 0 80px 0;

  display: flex;

  gap: 3.125em; //50px
  align-items: center;
  @include breakpoints.desktop {
    //padding-top: 8.75em; //140px
    padding: 70px 0 70px 0;
    gap: 4.375em; //70px
  }
  @include breakpoints.tablet {
    //padding-top: 6.25em; //100px
    padding: 50px 0 50px 0;
    gap: 1.25em; //20px
  }
  @include breakpoints.mobile {
    //padding-top: 3.75em; //60px
    padding: 30px 0 30px 0;
  }

  .img {
    &::before {
      display: block;
      height: 411px;
      content: url("@assets/images/about.png");
      @include breakpoints.desktop {
        content: url("@assets/images/logo-second.svg");
      }
      @include breakpoints.mobile {
        display: none;
      }
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5em; //40px
    @include breakpoints.desktop {
      order: -1;
    }
    @include breakpoints.mobile {
      gap: 1.875em;
    }

    .title {
      @include breakpoints.tablet {
        @include fontsStyles.DisplayMD;
      }
      @include breakpoints.mobile {
        @include fontsStyles.TextLG;
      }
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      padding-right: 100px;
      gap: 20px;
      @include fontsStyles.TextLG;

      @include breakpoints.desktop {
        padding-right: 0;
      }
      @include breakpoints.tablet {
        @include fontsStyles.TextXS;
      }
    }

    .btn {
      color: colors.$black;
    }
  }
}