@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
  padding: 40px 20px 140px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include breakpoints.tablet {
    padding: 40px 20px 100px 20px;
  }

  @include breakpoints.mobile {
    padding: 30px 10px 60px 10px;
  }

  .title {
    @include fontsFamilies.FontFamilyInterBold;
    @include fontsStyles.DisplayLG;

    @include breakpoints.mobile {
      @include fontsStyles.DisplayMD;
    }
  }


}