@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.tabs {

  display: flex;
  text-align: center;
  border-bottom: 2px solid colors.$white;
  cursor: pointer;

  .tab {
    padding: 0.625em 1.25em 0.625em;
    margin-bottom: -1px;

    background-color: transparent;
    color: colors.$white;
    border-bottom: 1px solid colors.$white;

    &.active {
      color: colors.$main;
      border-bottom: 2px solid colors.$main;
    }

    @include fontsStyles.TextLG;
    @include fontsFamilies.FontFamilyInterBold;
  }
}
