@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 10px;
  background-color: colors.$white;
  width: 100%;
  //min-height: 357px;
  height: 100%;

  .image {
    width: 100%;

    @include breakpoints.mobile_middle {
      height: 110px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 18px;
    height: 100%;

    .title {
      overflow: hidden;
      display: -webkit-box;
      //height: 65px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      transition: all 0.2s ease;

      @include fontsStyles.TextMD;
      color: colors.$black;
      @include breakpoints.mobile {
        @include fontsStyles.TextXS;
        @include fontsFamilies.FontFamilyInterRegular;
      }
      @include breakpoints.mobile_middle {
        @include fontsStyles.Text2XS;

      }
    }

    .cost {
      @include fontsFamilies.FontFamilyInterBold;
      @include fontsStyles.TextLG;
      color: colors.$black;
      @include breakpoints.mobile {
        @include fontsStyles.TextXS;
      }
    }

    //.delivery {
    //  @include fontsStyles.TextXS;
    //  color: colors.$gray;
    //}
  }
}
