@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';
@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';

.btn {
  @include fontsStyles.TextMD;
  @include fontsFamilies.FontFamilyInterBold;
  display: block;
  transition: 0.5s;
  border: 1px solid colors.$main;



  &SizeS {
    padding: 9px 16px; //12px 20px
    border-radius: 4px; //4px
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
  }

  &SizeM {
    //min-width: 190px; //190px
    padding: 11px 20px; //14.6px 20px
    border-radius: 4px; //4px
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
  }

  &SizeL {
    padding: 13px 20px; //14.6px 20px
    border-radius: 4px; //4px
    color: colors.$black;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;

  }

  &Primary {
    background: colors.$main;
  }

  &Secondary {
    background: colors.$main;

    &:hover {
      background: transparent;
    }

  }


  &Outlined {
    background-color: transparent;

    border: 1px solid colors.$main;
    color: colors.$main;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled, &.btnDisabled {
    background-color: transparent;
    color: colors.$white;
  }

  &MobileWide {
    @include breakpoints.tablet {
      width: 100%;
    }
  }
}
