@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.parametersList {
  padding-top: 40px;
  width: 410px;

  display: flex;
  flex-direction: column;
  gap: 0.625em;

  .parameterItem {
    display: flex;

    .keyWrapper {
      width: 56%;
      display: flex;
    }

    .key {
      color: colors.$border;
    }

    .separator {
      flex-grow: 1;
      border-bottom: 1px dashed colors.$border;
      margin: 0 4px;
    }

    .value {
      display: flex;

    }
  }
}
