@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.categoryCard {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: colors.$white;
  color: colors.$black;
  gap: 10px;
  //box-sizing: border-box;

  @include breakpoints.mobile {
    padding: 5px 10px;
  }

  .cardTitle {
    @include fontsFamilies.FontFamilyInterBold;
    @include fontsStyles.TextLG;
    display: flex;
    align-items: center;
    gap: 20px;

    @include breakpoints.mobile {
      @include fontsStyles.TextXS;
      width: 90%;
    }

    ::after {
      content: url("/assets/icons/arrow-down.svg");
      position: absolute;
      right: 40px;

      @include breakpoints.mobile {
        right: 20px;
        //display: flex;
        //align-items: center;
      }
    }

    :active {
      //@include fontsFamilies.FontFamilyInterBold;
      //@include fontsStyles.TextLG;
      //display: flex;
      //align-items: center;
      //gap: 20px;
      //
      //@include breakpoints.mobile {
      //  @include fontsStyles.TextXS;
      //  width: 90%;
      //}
      //
      //::after {
      //  content: url("/assets/icons/arrow-down.svg");
      //  position: absolute;
      //  right: 40px;
      //
      //  @include breakpoints.mobile {
      //    right: 20px;
      //    //display: flex;
      //    //align-items: center;
      //  }
      //}
    }
  }

  //.cardTitle:active {
  //  @include fontsFamilies.FontFamilyInterBold;
  //  @include fontsStyles.TextLG;
  //  display: flex;
  //  align-items: center;
  //  gap: 20px;
  //
  //  @include breakpoints.mobile {
  //    @include fontsStyles.TextXS;
  //    width: 90%;
  //  }
  //
  //  ::after {
  //    content: url("/assets/icons/arrow-down.svg");
  //    position: absolute;
  //    right: 40px;
  //
  //    @include breakpoints.mobile {
  //      right: 20px;
  //      //display: flex;
  //      //align-items: center;
  //    }
  //  }
  //}

  .spareParts {
    display: none;

    &Name {
      display: flex;
      flex-direction: column;
      @include fontsStyles.TextXS
    }

    &Continuation {
      color: colors.$main;
      @include fontsStyles.TextXS
    }

    :active{
      display: flex;
      flex-direction: column;


      &Name {
        display: flex;
        flex-direction: column;

        @include breakpoints.tablet {
          display: none;
        }
      }

      &Continuation {
        color: colors.$main;

      }
    }
  }

  //.spareParts:active {
  //  display: flex;
  //  flex-direction: column;
  //
  //  &Name {
  //    display: flex;
  //    flex-direction: column;
  //
  //    @include breakpoints.tablet {
  //      display: none;
  //    }
  //  }
  //
  //  &Continuation {
  //    color: colors.$main;
  //
  //  }
  //}
}