@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.tabsWrapper {
  padding-top: 60px;
  padding-bottom: 140px;

  @include breakpoints.tablet {
    display: none;
  }


}

.content {
  padding-top: 40px;
  display: flex;

}