@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
  padding-bottom: 140px;

  .basketHeader {
    @include fontsFamilies.FontFamilyInterBold;
    @include fontsStyles.DisplayXL;
    padding: 40px 0;
  }

  .basketContent {
    display: flex;
    justify-content: space-between;

    &Table {
      width: 70%;

      &Header {
        display: grid;
        grid-template-columns: 0.5fr 3.5fr 1fr 1fr 1fr;
        gap: 40px;
        padding: 10px 0 20px 0;
        @include fontsFamilies.FontFamilyInterBold;
        @include fontsStyles.TextMD;
      }

      &Lines {
        display: grid;
        grid-template-columns: 0.5fr 3.5fr 1fr 1fr 1fr;
        gap: 40px;
        border-bottom: 1px solid colors.$gray;
        padding: 20px 0;
        @include fontsFamilies.FontFamilyInterRegular;
        @include fontsStyles.TextMD;

        .productsImage {
          border-radius: 4px;
        }

        .price {
          @include fontsFamilies.FontFamilyInterBold;
          @include fontsStyles.TextMD;
        }

        .nameLines {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .additionalNames {
            color: colors.$border;
            @include fontsStyles.TextXS;
          }
        }
      }
    }

    &Card {
      height: 100%;
      width: 23%;
      background-color: colors.$dark;
      border-radius: 8px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &Title {

      }

      &Count {
        display: flex;
        justify-content: space-between;
      }

      &TotalPrice {
        display: flex;
        justify-content: space-between;

        .priceNumber {
          @include fontsFamilies.FontFamilyInterBold;
          @include fontsStyles.TextMD;
        }
      }
    }
  }
}