@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
  padding: 40px 20px 140px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .brandSearchTitle {
    @include fontsFamilies.FontFamilyInterBold;
    @include fontsStyles.DisplayXL;

    @include breakpoints.tablet {
      @include fontsStyles.DisplayLG;
    }
  }

  .brandSearchInfo {
    @include fontsFamilies.FontFamilyInterRegular;
    @include fontsStyles.TextLG;
  }

  .brandSearchTable {
    //width: 70%;
    max-width: 1093px;

    &Header {
      display: grid;
      grid-template-columns: 1fr 1.3fr 1fr 1fr 0.7fr 1fr;
      //gap: 54px;
      @include fontsFamilies.FontFamilyInterBold;
      @include fontsStyles.TextMD;
      background-color: colors.$white;
      color: colors.$black;
      padding: 20px 10px;
      @include breakpoints.tablet {
        @include fontsStyles.TextXS;
      }
    }

    &Lines {
      display: grid;
      grid-template-columns: 1fr 1.3fr 1fr 1fr 0.7fr 1fr;
      @include fontsFamilies.FontFamilyInterRegular;
      @include fontsStyles.TextMD;
      padding: 20px 10px;
      border-bottom: 1px solid colors.$gray;
    }

    &Lines:hover {
      background-color: colors.$main;
      color: colors.$black;
      cursor: pointer;
      //border-top: 1px solid black;
    }
  }
}