@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';

.wrapper {
  //padding-top: 8.125em; //130px
  padding: 65px 20px 65px 20px;

  display: flex;
  flex-direction: column;
  gap: 2.5em; //40px

  @include breakpoints.desktop {
    //padding-top: 8.75em; //140px
    padding: 70px 20px 70px 20px;
  }
  @include breakpoints.tablet {
    //padding-top: 6.25em; //100px
    padding: 50px 20px 50px 20px;
  }
  @include breakpoints.mobile {
    //padding-top: 3.75em; //60px
    padding: 30px 10px 30px 10px;
  }

  .title {
    @include breakpoints.tablet {
      @include fontsStyles.DisplayMD;
    }
    @include breakpoints.mobile {
      @include fontsStyles.TextLG;
    }
  }

  .goodsList {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    @include breakpoints.desktop_small {
      gap: 20px;
    }
    @include breakpoints.tablet_small {
      flex-direction: column;
    }

    .goodItemWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 33%;
      height: 100%;
      @include breakpoints.tablet_small {
        width: 100%;
      }

      background-color: colors.$white;
      border-radius: 8px;
      padding: 30px 0 0 40px;
      //position: relative;
      @include breakpoints.tablet {
        padding: 24px 0 0 24px;
      }

      @include breakpoints.mobile {
        padding: 24px 0 0 20px;
      }


    }

    .goodItem {
      //display: flex;
      //flex-direction: column;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;

      //.content {
      //  display: flex;
      //  align-items: end;
      //
      //  justify-content: space-between;
      //}

      .itemTitle {
        @include fontsStyles.DisplayMD;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        //max-width: 274px;
        height: 72px;
        //height: 100px;
        color: colors.$black;
        //min-height: 72px;
        @include breakpoints.desktop_medium {
          grid-column-start: 1;
          grid-column-end: 3;
          //grid-row-start: 2;
          //grid-row-end: 3;
        }
        @include breakpoints.tablet {
          @include fontsStyles.TextLG;
        }
        @include breakpoints.tablet_small {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          @include fontsStyles.DisplayMD;
        }
        @include breakpoints.mobile {
          @include fontsStyles.TextMD;
        }
      }

      .img {
        //position: absolute;
        //top: 100px;
        border-radius: 8px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        width: 200px;
        height: 190px;
        @include breakpoints.desktop_medium {
          grid-column-start: 2;
          grid-row-start: 2;
          grid-row-end: 3;
          width: 140px;
          height: 133px;
        }
        @include breakpoints.tablet_small {
          grid-column-start: 2;
          grid-row-start: 1;
          grid-row-end: 3;
          width: 170px;
          height: 163px;
        }
        @include breakpoints.mobile {
          width: 140px;
          height: 133px;
        }
      }

      .arrow {
        grid-column-start: 1;

        align-items: center;
        padding-top: 25px;

        &::before {
          content: url("@assets/icons/arrow.svg");
          display: flex;
          max-width: 50px;
          max-height: 50px;
        }

        @include breakpoints.desktop_medium {
          grid-column-start: 1;
          grid-row-start: 2;
          grid-row-end: 3;
          padding-top: 65px;
        }

        @include breakpoints.tablet_small {
          grid-column-start: 1;
          padding-top: 10px;
        }

        @include breakpoints.mobile {
          padding-top: 0;
        }
      }
    }
  }
}