@use '@assets/styles/mixins/fontsFamilies';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/vars/colors';


.header {
  position: sticky;
  top: 0;
  background-color: colors.$background;
  z-index: 50;
  padding-top: 25px;
  padding-bottom: 25px;


  @include breakpoints.desktop_base {
    gap: 1.25em;
  }

  &ContentWrapper {
    align-items: center;

    display: flex;
    gap: 1.875em; //30px
    justify-content: space-between;

    @include breakpoints.mobile_small {
      justify-content: space-between;
    }

    .second {
      align-items: center;
      width: 100%;
      display: flex;
      gap: 1.875em; //30px
      justify-content: space-between;
      @include breakpoints.tablet_small {
        gap: 1.25em;
        width: fit-content;
      }

      @include breakpoints.mobile_small {
        justify-content: space-between;
      }
    }
  }

}

.logo {
  width: 100%;
  max-height: 56px;

  @include breakpoints.desktop_small {
    max-height: 42.29px;
  }

  @include breakpoints.tablet {
    max-height: 39px;
  }

  @include breakpoints.tablet_small {
    max-height: 33px;
  }
  //&::before {
  //  content: url('@assets/images/logo.svg');
  //
  //  @include breakpoints.desktop_small {
  //    content: url('@assets/images/logo-768.svg');
  //  }
  //  @include breakpoints.mobile {
  //    content: url('@assets/images/logo-360.svg');
  //  }
  //}
}

.search {
  display: flex;
  gap: 10px;
  max-width: 639px;
  width: 100%;

  .input {
    width: 100%;
  }
}


.phone {
  @include fontsFamilies.FontFamilyInterBold;
  @include fontsStyles.TextLG;
  display: flex;
  align-items: center;
  gap: 12px;


  @include breakpoints.desktop_base {
    display: none;
  }
}

.burger {
  background: transparent;

  &::before {
    content: url('@assets/icons/burger.svg');
  }


}

.help {

  @include breakpoints.tablet {
    display: none;
  }
}

.helpSmall {
  display: none;

  @include breakpoints.tablet {
    display: flex;
  }

  @include breakpoints.tablet_small {
    display: none;
  }
}