@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';


.wrapper {
  //padding-top: 10em; //160px
  padding: 95px 20px 80px 20px;

  display: flex;
  flex-direction: column;
  gap: 2.5em; //40px

  @include breakpoints.desktop {
    //padding-top: 8.75em; //140px
    padding: 70px 20px 70px 20px;
  }
  @include breakpoints.tablet {
    //padding-top: 6.25em; //100px
    padding: 50px 20px 50px 20px;
  }
  @include breakpoints.mobile {
    //padding-top: 3.75em; //60px
    padding: 30px 10px 30px 10px;
  }

  .title {
    @include fontsStyles.DisplayLG;
    @include fontsFamilies.FontFamilyInterBold;

    @include breakpoints.tablet {
      @include fontsStyles.DisplayMD;
    }
    @include breakpoints.mobile {
      @include fontsStyles.TextLG;
      text-align: center;
    }
  }

  .brandsList {
    display: flex;
    gap: 1.25em; //20px
    align-items: center;
    justify-content: space-between;
    @include breakpoints.mobile {
      flex-direction: column;
      gap: 20px;
    }

    .brandItem {
      padding: 42px; //42px
      margin: auto;
      border-radius: .5em; //8px
      @include breakpoints.tablet_small {
        padding: 42px 0 42px 0;
      }
      @include breakpoints.mobile {
        padding: 20px;
        margin: auto;
      }

      //&:hover {
      //  background-color: colors.$dark;
      //}

      .imgLogo {
        height: 100%;
        width: 100%;
        filter: brightness(0) invert(1);
        transition: .3s;
      }

      //.imgLogo:hover {
      //  filter: unset;
      //}
    }

    //.kia {
    //  &::before {
    //    content: url("@assets/icons/kia-logo.svg");
    //    @include breakpoints.tablet {
    //      content: url("@assets/icons/kia-logo-x768.svg");
    //    }
    //  }
    //}
    //
    //.hyundai {
    //  &::before {
    //    content: url("@assets/icons/hyundai-logo.svg");
    //    @include breakpoints.tablet {
    //      content: url("@assets/icons/hyundai-logo-x768.svg");
    //    }
    //  }
    //}
    //
    //.chevrolet {
    //  &::before {
    //    content: url("@assets/icons/chevrolet-logo.svg");
    //    @include breakpoints.tablet {
    //      content: url("@assets/icons/chevrolet-logo-x768.svg");
    //    }
    //  }
    //}
  }
}