@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
  padding: 40px 20px 140px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    @include fontsFamilies.FontFamilyInterBold;
    @include fontsStyles.DisplayLG;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .btnOrderSubmit {
      align-self: start;

      @include breakpoints.mobile {
        width: 100%;
        align-self: start;
      }
    }

    .blockCard {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: colors.$white;
      color: colors.$black;
      padding: 30px;
      border-radius: 4px;
      //width: 37%;
      max-width: 620px;

      @include breakpoints.mobile {
        padding: 20px;
        gap: 12px;
      }

      .cardTitle {
        @include fontsFamilies.FontFamilyInterBold;
        @include fontsStyles.TextLG;
      }

      .infoGroup {
        @include fontsFamilies.FontFamilyInterRegular;
        @include fontsStyles.TextMD;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include breakpoints.mobile {
          @include fontsStyles.TextXS;
        }

        .textGroup {
          display: flex;
          gap: 5px;
          @include fontsFamilies.FontFamilyInterRegular;
          @include fontsStyles.TextMD;

          .textTitle {
            @include fontsFamilies.FontFamilyInterBold;
          }
        }

        .textOrderGroup {
          display: flex;
          justify-content: space-between;
          gap: 5px;
          @include fontsFamilies.FontFamilyInterRegular;
          @include fontsStyles.TextMD;

          .textTitle {
            @include fontsFamilies.FontFamilyInterBold;
          }
        }

        .input {
          flex-grow: 1;
          color: colors.$gray;
          padding: 0.75em 1.25em;
          background: transparent;
          border: 1px solid colors.$border;
          border-radius: 4px;

        }

        .input::placeholder {
          color: colors.$gray;
          font-weight: 600;
          @include fontsStyles.TextMD;

          @include breakpoints.mobile {
            font-weight: 400;
            @include fontsStyles.TextXS;
          }
        }
      }

      .orderProducts {
        display: grid;
        grid-template-columns: 3fr 1fr auto;
        gap: 10px;
        border-bottom: 1px solid colors.$gray;
        padding-bottom: 10px;
        @include fontsFamilies.FontFamilyInterRegular;
        @include fontsStyles.TextMD;

        @include breakpoints.tablet_small {
        }

        @include breakpoints.mobile {
          grid-template-columns: 1fr auto;
        }

        .price {
          @include fontsFamilies.FontFamilyInterBold;
          @include fontsStyles.TextMD;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;

          @include breakpoints.tablet_small {

          }

          @include breakpoints.mobile {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
          }

          .priceCount {

            @include breakpoints.mobile {
              @include fontsStyles.TextXS;
            }
          }
        }

        .nameLines {
          display: flex;
          flex-direction: column;
          gap: 5px;

          @include breakpoints.tablet_small {
          }

          @include breakpoints.mobile {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
          }

          .productName {

            @include breakpoints.tablet_small {
              @include fontsStyles.TextXS;
            }
          }

          .productVin {
            color: colors.$gray;
            @include fontsStyles.TextXS;

            @include breakpoints.tablet_small {

            }

          }

          .productManufacturer {
            display: grid;
            color: colors.$gray;
            @include fontsStyles.TextXS;

            @include breakpoints.tablet_small {

            }

          }
        }

        .counter {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;

          @include breakpoints.tablet_small {

          }

          @include breakpoints.mobile {
            @include fontsStyles.TextXS;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
          }
        }
      }

      .btnGroupFirst {
        display: flex;
        gap: 20px;
        @include breakpoints.mobile {
          gap: 10px;
          //flex-direction: column;
          @include fontsStyles.TextXS;
        }

        .button {
          &:hover {
            background-color: transparent;
            border: 1px solid colors.$main;
          }
        }

      }

      .btnGroupSecond {
        display: flex;
        gap: 20px;
        @include breakpoints.mobile {
          gap: 10px;
          flex-direction: column;
          align-self: start;
          @include fontsStyles.TextXS;
        }
      }
    }
  }
}