@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.overlay {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: colors.$white;
  opacity: 0.6;
  z-index: 100;
  transform: translateX(0);
  transition: transform .3s ease;
  transition-delay: 0s;

  &Closed {
    transform: translateX(100%);
    transition-delay: .3s;
  }
}

.sidePanelWrapper {
  max-width: 400px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: colors.$dark;
  padding-left: 30px;
  padding-right: 20px;
  transform: translateX(0);
  transition: transform .3s ease;
  transition-delay: 0s;

  .sidePanelWrapperContent {
    opacity: 1;
    transition: opacity .3s ease;
    transition-delay: .3s;
  }

  &Closed {
    transform: translateX(100%);
    transition-delay: .3s;

    .sidePanelWrapperContent {
      opacity: 0;
      transition-delay: 0s;
    }
  }
}

.sidePanelWrapperContent {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .btnClose {
    margin-top: 8px;
    display: flex;
    background-color: colors.$dark;
    align-self: end;

    &::before {
      content: url('@assets/icons/closebtn.svg');
      display: flex;
      width: 40px;
      height: 40px;
    }
  }

  .linksWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include fontsStyles.TextMD;
    @include fontsFamilies.FontFamilyInterBold;

    a:hover {
      color: colors.$main;
    }

    &Yellow {
      color: colors.$main;
    }
  }

  .wrapper {
    gap: 20px;
  }

  .addressesWrapper {
    gap: 20px;

    .addressItem {
      padding: 0;
      @include fontsStyles.TextXS;
    }
  }


  .messengersWrapper {
    padding: 0 0 0 0;
    @include fontsStyles.TextXS;
  }
}
