@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.sidePanelWrapper {
  overflow: hidden;
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: -400px;
  z-index: 1001;
  transition: transform 0.3s ease;

  @include breakpoints.tablet_small {
    left: -320px;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: -100%;
    bottom: 0;
    z-index: -1;
    background-color: #00000070;
    cursor: pointer;
  }

  .sidePanelWrapperContent {
    background-color: colors.$dark;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 60px 30px;

    @include breakpoints.tablet_small {
      max-width: 320px;
      padding: 60px 20px;
    }

    .btnClose {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-color: colors.$dark;
      position: absolute;
      right: 20px;
      top: 8px;

      @include breakpoints.tablet_small {
        width: 24px;
        height: 24px;
        right: 10px;
        top: 10px;
      }
    }

    .linksWrapper {
      display: flex;
      flex-direction: column;
      gap: 25px;
      @include fontsStyles.TextMD;
      @include fontsFamilies.FontFamilyInterBold;

      a:hover {
        color: colors.$main;
      }

      &Yellow {
        color: colors.$main;
      }
    }

    .wrapper {
      gap: 20px;
    }

    .addressesWrapper {
      gap: 20px;

      .addressItem {
        padding: 0;
        @include fontsStyles.TextXS;
      }
    }


    .messengersWrapper {
      padding: 0 0 0 0;
      @include fontsStyles.TextXS;
    }
  }
}

.active {
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow: visible;
}

