@use '@assets/styles/vars/colors';

.wrapper {
	background-color: colors.$dark;
	color: colors.$white;
	border-radius: 0.25em; //4px

	display: flex;
	align-items: center;
	padding: 0 1.1875em 0 1.1875em; // 0 19px 0 19px
	gap: 0.875em; //14px

	.decrementAction {
		background-color: transparent;
		color: colors.$white;
		line-height: 0;

		&::before {
			content: url('@assets/icons/minus.svg');
		}
	}
	.incrementAction {
		background-color: transparent;
		color: colors.$white;
		line-height: 0;

		&::after {
			content: url('@assets/icons/plus.svg');
		}
	}
}
