@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
  padding-top: 40px;
  padding-bottom: 140px;

  display: flex;
  flex-direction: column;
  gap: 2.5em;


  @include breakpoints.tablet_small {
    padding-bottom: 100px;
  }

  .title {
    @include fontsStyles.DisplayLG;
    @include fontsFamilies.FontFamilyInterBold;

    @include breakpoints.tablet {
      @include fontsStyles.DisplayLG;
    }
    @include breakpoints.tablet_small {
      @include fontsStyles.DisplayMD;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include breakpoints.tablet_small {
      flex-direction: column;
    }
  }
}

