@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.sidePanel {
  //padding-top: 25px;
  //top: 111.8px;
  top: 111.8px;
  left: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: colors.$background;
  transform: translateY(0);
  transition: transform .3s ease;
  transition-delay: 0s;

  .sidePanelWrapper {
    opacity: 1;
    transition: opacity .3s ease;
    transition-delay: .3s;
  }

  &Closed {
    transform: translateY(-100%);
    transition-delay: .3s;

    .sidePanelWrapper {
      opacity: 0;
      transition-delay: 0s;
    }
  }
}

.sidePanelWrapper {


  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1.875em; //30px

    @include breakpoints.mobile_small {
      gap: 0;
      justify-content: space-between;
    }


    .logo {
      &::before {
        content: url('@assets/images/logo.svg');
      }
    }

    .btnClose {
      background-color: colors.$background;

      &::before {
        content: url('@assets/icons/closebtn.svg');
        display: flex;
        width: 40px;
        height: 40px;
      }
    }

    .phone {
      @include fontsFamilies.FontFamilyInterBold;
      @include fontsStyles.TextLG;
      display: flex;
      align-items: center;
      gap: 0.75em; //12px


      @include breakpoints.desktop_base {
        display: none;
      }
    }
  }

  .navigationWrapper {
    padding: 95px 0 170px 0;
    top: 111.8px;
    display: flex;
    align-items: center;
    gap: 250px;
    overflow-y: hidden;

    .navigationListWrapper {
      display: flex;
      gap: 50px;
      flex-direction: column;

      .navigationItem {
        @include fontsStyles.DisplayLG;
        @include fontsFamilies.FontFamilyInterBold;

        &:hover {
          color: colors.$main;
          border-bottom: 1px solid colors.$main;
        }

        @include breakpoints.desktop {
          @include fontsStyles.DisplayMD;
        }
      }
    }
  }

  .footerListWrapper {
    display: flex;
    justify-content: space-between;

    .messengerItem {
      display: flex;
      align-items: center;
      gap: 20px;
      @include fontsFamilies.FontFamilyInterBold;
      @include fontsStyles.DisplayLG;

      &.whatsapp {
        &::before {
          content: url('@assets/icons/whatsapp.svg');
        }
      }

      &.telegram {
        &::before {
          content: url('@assets/icons/telegram.svg');
        }
      }

      &.instagram {
        &::before {
          content: url('@assets/icons/instagram.svg');
        }
      }
    }
  }


}
