@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

@keyframes burgerDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

//@keyframes burgerUp {
//  0% {
//    opacity: 1;
//    transform: translateY(-100%);
//  }
//  100% {
//    opacity: 0;
//    transform: translateY(100%);
//  }
//}

.sidePanel {
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: colors.$background;

  animation: burgerDown .4s linear;
}

.sidePanelWrapper {


  .headerWrapper {
    display: flex;
    justify-content: space-between;

    .logo {
      &::before {
        content: url('@assets/images/logo.svg');
      }
    }

    .btnClose {
      background-color: colors.$background;

      &::before {
        content: url('@assets/icons/closebtn.svg');
      }
    }
  }

  .navigationWrapper {
    padding: 120px 0 170px 0;
    display: flex;
    align-items: center;
    gap: 250px;

    .navigationListWrapper {
      display: flex;
      gap: 50px;
      flex-direction: column;

      .navigationItem {
        @include fontsStyles.DisplayLG;
        @include fontsFamilies.FontFamilyInterBold;

        &:hover {
          color: colors.$main;
          border-bottom: 1px solid colors.$main;
        }
      }
    }
  }

  .footerListWrapper {
    display: flex;
    justify-content: space-between;

    .messengerItem {
      display: flex;
      align-items: center;
      gap: 20px;
      @include fontsFamilies.FontFamilyInterBold;
      @include fontsStyles.DisplayLG;

      &.whatsapp {
        &::before {
          content: url('@assets/icons/whatsapp.svg');
        }
      }

      &.telegram {
        &::before {
          content: url('@assets/icons/telegram.svg');
        }
      }

      &.instagram {
        &::before {
          content: url('@assets/icons/instagram.svg');
        }
      }
    }
  }


}
