@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';


.wrapper {
  //padding-top: 10em;
  //padding-bottom: 10em;
  padding: 80px 20px 173px 20px;

  display: flex;
  flex-direction: column;
  gap: 2.5em;
  @include breakpoints.desktop {
    //padding-top: 8.75em;
    //padding-bottom: 8.75em
    padding: 70px 20px 140px 20px;
  }
  @include breakpoints.tablet {
    //padding-top: 6.25em; //100px
    //padding-bottom: 6.25em;
    padding: 50px 20px 100px 20px;
    gap: 1.875em; //30px

  }
  @include breakpoints.mobile {
    //padding-top: 3.75em; //60px
    //padding-bottom: 3.75em;
    padding: 30px 10px 60px 10px;
    gap: 1.25em; //20px
  }

  .title {
    @include fontsStyles.DisplayLG;
    @include fontsFamilies.FontFamilyInterBold;

    @include breakpoints.tablet {
      @include fontsStyles.DisplayMD;
    }
    @include breakpoints.mobile {
      @include fontsStyles.TextLG;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 100%;

  }


}