@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';


.wrapper {
  padding-top: 10em;
  padding-bottom: 10em;

  display: flex;
  flex-direction: column;
  gap: 2.5em;
  @include breakpoints.desktop {
    padding-top: 8.75em;
    padding-bottom: 8.75em
  }
  @include breakpoints.tablet {
    padding-top: 6.25em; //100px
    padding-bottom: 6.25em;
    gap: 1.875em; //30px

  }
  @include breakpoints.mobile {
    padding-top: 3.75em; //60px
    padding-bottom: 3.75em;
    gap: 1.25em; //20px
  }

  .title {
    @include breakpoints.tablet {
      @include fontsStyles.DisplayMD;
    }
    @include breakpoints.mobile {
      @include fontsStyles.TextLG;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;

  }


}