@use '@assets/styles/mixins/breakpoints';


.wrapper {

  width: 72%;
  min-height: 513px;
  border-radius: 0.25em; // 4px

  @include breakpoints.desktop_small {
    width: 52%;
  }
  @include breakpoints.tablet_small {
    width: 100%;
  }
}