@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';

.wrapper {
  display: flex;
  flex-direction: column;
  //gap: 0.875em; //14px
  gap: 0.722em; // 13px
  flex-grow: 1;
  @include breakpoints.tablet_small {
    width: 100%;
  }

  .addressesList {
    display: flex;
    flex-direction: column;
    //gap: 0.875em; //14px
    gap: 0.722em; // 13px

    @include fontsStyles.TextLG;
    @include breakpoints.tablet_small {
      @include fontsStyles.TextMD;
    }

    .addressItem {
      padding: 1.11em 1.67em; //20px 30px
      display: flex;
      flex-direction: column;
      //gap: .625em; // 10px было
      gap: .0625em;
      width: 100%;
      background-color: colors.$dark;
      border-radius: .25em;

      .address {
        @include fontsFamilies.FontFamilyInterBold;
        @include breakpoints.tablet_small {
          @include fontsStyles.TextLG;
        }
      }
    }
  }

  .messengersWrapper {
    //padding: 1.25em 1.875em; //20px 30px
    padding: 1.11em 1.67em; //20px 30px

    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 100%;
    //height: 100%;
    background-color: colors.$dark;
    border-radius: .25em;

    @include fontsFamilies.FontFamilyInterBold;
    @include fontsStyles.TextLG;
    @include breakpoints.tablet_small {
      @include fontsStyles.TextMD;
    }
    @include breakpoints.tablet {

    }

    .messengerItem {
      display: flex;
      align-items: center;
      gap: 10px;

      .icons {
        width: 20px;
        height: 20px;
      }
    }
  }
}


