@use '@assets/styles/mixins/breakpoints';
@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';
@use '@assets/styles/vars/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include breakpoints.mobile {
    gap: 20px;
  }

  .title {
    @include fontsStyles.TextLG;
    @include breakpoints.mobile_middle {
      @include fontsStyles.TextMD;
      @include fontsFamilies.FontFamilyInterBold;
    }
  }
}

.selectorBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include breakpoints.mobile {
    gap: 10px;
  }
}

.selector {
  //padding: 0;
  //margin: 0;
  //background-color: colors.$dark;
  //color: colors.$dark;
  //border-radius: 10px;
  //border: 1px solid colors.$gray;
}