@use '@assets/styles/mixins/fontsStyles';

.privacyWrapper {
  padding-top: 70px;
  padding-bottom: 150px;

  .title {
    @include fontsStyles.DisplayMD;
  }

  .contentWrapper {
    padding-top: 5px;
    padding-bottom: 5px;

    .textTitle {
      @include fontsStyles.TextLG;
    }
  }
}

